<li class="border border-light bg-light text-dark p-2 m-2">
	{{#if devour}}
	  <button class="btn btn-light border border-secondary bg-info text-white change-devour m-1" data-id="{{id}}" data-newdevour="{{devour}}">Devour!</button>
  {{/if}}

  {{burger_name}}
</li>
